In [1]:
import pandas as pd

df = pd.read_csv("myntra_products_catalog.csv")

In [2]:
df.head(5)

,ProductID,ProductName,ProductBrand,Gender,Price (INR),NumImages,Description,PrimaryColor
0,10017413,DKNY Unisex Black & Grey Printed Medium Trolle...,DKNY,Unisex,11745,7,"Black and grey printed medium trolley bag, sec...",Black
1,10016283,EthnoVogue Women Beige & Grey Made to Measure ...,EthnoVogue,Women,5810,7,Beige & Grey made to measure kurta with churid...,Beige
2,10009781,SPYKAR Women Pink Alexa Super Skinny Fit High-...,SPYKAR,Women,899,7,Pink coloured wash 5-pocket high-rise cropped ...,Pink
3,10015921,Raymond Men Blue Self-Design Single-Breasted B...,Raymond,Men,5599,5,Blue self-design bandhgala suitBlue self-desig...,Blue
4,10017833,Parx Men Brown & Off-White Slim Fit Printed Ca...,Parx,Men,759,5,"Brown and off-white printed casual shirt, has ...",White

In [3]:
df.dtypes

ProductID        int64
ProductName     object
ProductBrand    object
Gender          object
Price (INR)      int64
NumImages        int64
Description     object
PrimaryColor    object
dtype: object

In [6]:
df.value_counts().sum()

11597

In [9]:
df = pd.read_csv("myntra_products_catalog.csv").loc[:499]

In [10]:
df.isna().sum()

ProductID        0
ProductName      0
ProductBrand     0
Gender           0
Price (INR)      0
NumImages        0
Description      0
PrimaryColor    32
dtype: int64

In [11]:
df.dtypes

ProductID        int64
ProductName     object
ProductBrand    object
Gender          object
Price (INR)      int64
NumImages        int64
Description     object
PrimaryColor    object
dtype: object

In [12]:
df.fillna(value="None",inplace=True)

In [13]:
df.isna().sum()

ProductID       0
ProductName     0
ProductBrand    0
Gender          0
Price (INR)     0
NumImages       0
Description     0
PrimaryColor    0
dtype: int64

In [14]:
df.head()

,ProductID,ProductName,ProductBrand,Gender,Price (INR),NumImages,Description,PrimaryColor
0,10017413,DKNY Unisex Black & Grey Printed Medium Trolle...,DKNY,Unisex,11745,7,"Black and grey printed medium trolley bag, sec...",Black
1,10016283,EthnoVogue Women Beige & Grey Made to Measure ...,EthnoVogue,Women,5810,7,Beige & Grey made to measure kurta with churid...,Beige
2,10009781,SPYKAR Women Pink Alexa Super Skinny Fit High-...,SPYKAR,Women,899,7,Pink coloured wash 5-pocket high-rise cropped ...,Pink
3,10015921,Raymond Men Blue Self-Design Single-Breasted B...,Raymond,Men,5599,5,Blue self-design bandhgala suitBlue self-desig...,Blue
4,10017833,Parx Men Brown & Off-White Slim Fit Printed Ca...,Parx,Men,759,5,"Brown and off-white printed casual shirt, has ...",White

In [15]:
from sentence_transformers import SentenceTransformer
model = SentenceTransformer('all-mpnet-base-v2')

c:\Users\heman\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [16]:
model

SentenceTransformer(
  (0): Transformer({'max_seq_length': 384, 'do_lower_case': False}) with Transformer model: MPNetModel
  (1): Pooling({'word_embedding_dimension': 768, 'pooling_mode_cls_token': False, 'pooling_mode_mean_tokens': True, 'pooling_mode_max_tokens': False, 'pooling_mode_mean_sqrt_len_tokens': False, 'pooling_mode_weightedmean_tokens': False, 'pooling_mode_lasttoken': False, 'include_prompt': True})
  (2): Normalize()
)

In [17]:
df['DescriptionVector'] = df['Description'].apply(lambda x : model.encode(x))

In [38]:
df.head()

,ProductID,ProductName,ProductBrand,Gender,Price (INR),NumImages,Description,PrimaryColor,DescriptionVector
0,10017413,DKNY Unisex Black & Grey Printed Medium Trolle...,DKNY,Unisex,11745,7,"Black and grey printed medium trolley bag, sec...",Black,"[0.027645897, -0.0026341674, -0.0035883887, 0...."
1,10016283,EthnoVogue Women Beige & Grey Made to Measure ...,EthnoVogue,Women,5810,7,Beige & Grey made to measure kurta with churid...,Beige,"[-0.024660707, -0.028755356, -0.02033251, 0.03..."
2,10009781,SPYKAR Women Pink Alexa Super Skinny Fit High-...,SPYKAR,Women,899,7,Pink coloured wash 5-pocket high-rise cropped ...,Pink,"[-0.046943232, 0.08182793, 0.048335157, -0.000..."
3,10015921,Raymond Men Blue Self-Design Single-Breasted B...,Raymond,Men,5599,5,Blue self-design bandhgala suitBlue self-desig...,Blue,"[-0.015098735, -0.010285375, 0.009487293, -0.0..."
4,10017833,Parx Men Brown & Off-White Slim Fit Printed Ca...,Parx,Men,759,5,"Brown and off-white printed casual shirt, has ...",White,"[-0.017746584, 0.006209613, 0.021813968, 0.026..."

In [37]:
df['DescriptionVector']

0      [0.027645897, -0.0026341674, -0.0035883887, 0....
1      [-0.024660707, -0.028755356, -0.02033251, 0.03...
2      [-0.046943232, 0.08182793, 0.048335157, -0.000...
3      [-0.015098735, -0.010285375, 0.009487293, -0.0...
4      [-0.017746584, 0.006209613, 0.021813968, 0.026...
                             ...
495    [-0.008610575, -0.029869575, -0.0061421986, 0....
496    [-0.045808833, 0.06457868, 0.04039817, -0.0009...
497    [0.037891634, 0.0027860668, -0.002199389, 0.05...
498    [-0.016735684, 0.0008294789, 0.030488525, 0.02...
499    [-0.008562753, -0.006607288, -0.05833278, -0.0...
Name: DescriptionVector, Length: 500, dtype: object

In [39]:
from elasticsearch import Elasticsearch 

es = Elasticsearch(
    "http://localhost:9200"
)

es.ping()

True

In [40]:
df.dtypes

ProductID             int64
ProductName          object
ProductBrand         object
Gender               object
Price (INR)           int64
NumImages             int64
Description          object
PrimaryColor         object
DescriptionVector    object
dtype: object

In [42]:
from index_mapping import indexMapping
es.indices.create(index="products", mappings=indexMapping)

ObjectApiResponse({'acknowledged': True, 'shards_acknowledged': True, 'index': 'products'})

In [43]:
record_list = df.to_dict("records")

In [44]:
for record in record_list:
    try:
        es.index(index="products", document=record, id = record["ProductID"])
    except Exception as e:
        print(e)

In [45]:
es.count(index="products")

ObjectApiResponse({'count': 500, '_shards': {'total': 1, 'successful': 1, 'skipped': 0, 'failed': 0}})

In [ ]:
input = "Shoes"

vector_input = model.encode(input)

query = {
    "field" : "DescriptionVector",
    "query_vector":vector_input,
    "k":2,
    "num_candidates":500,
}

result = es.search(index="products",
                   body={
                   "knn" : query,
                    "_source" :["ProductName", "Description"]
                   } 
                   )
result["hits"]["hits"]

[{'_index': 'products',
  '_id': '10006031',
  '_score': 0.55732274,
  '_source': {'ProductName': 'ID Men Brown Solid Leather Mid-Top Sneakers',
   'Description': 'A pair of round-toe brown sneakers, has mid-top styling, lace-up detailLeather upperCushioned footbedTextured and patterned outsoleWarranty: 3 monthsWarranty provided by brand/manufacturer'}},
 {'_index': 'products',
  '_id': '10001425',
  '_score': 0.5553946,
  '_source': {'ProductName': 'Shoe Couture Women White & Black Applique Detail Sneakers',
   'Description': 'A pair of round-toe white & black sneakers, has regular styling, lace-up detailSynthetic upper with applique detailCushioned footbedTextured and patterned outsoleWarranty: 1 monthWarranty provided by brand/manufacturer'}}]